
# Private folders
*/Private/*

# Compressed
*.zip
Renegade-X/Public/Rx_Installers/BlackDawn_v1.exe
Renegade-X/Public/Rx_Installers/RenegadeX-OpenBeta_v0.55.exe
Renegade-X/Public/Rx_Installers/RenegadeX-OpenBeta_v1.exe
Renegade-X/Public/Rx_Installers/RenegadeX-OpenBeta_v2a.exe
Renegade-X/Public/Rx_Installers/RenegadeX-OpenBeta_v3a.exe
Renegade-X/Public/Rx_Installers/RenegadeX-OpenBeta_v4b.exe
